<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Fringe</title>
		<link rel="icon" href="{% static 'images/Vectorfavicon.png' %}" type="image/png"/>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="" />
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<div class="flex flex-col items-center pt-8 bg-white">
			<div
				class="flex gap-5 justify-between w-full text-2xl leading-7 text-black max-w-[1344px] max-md:flex-wrap max-md:max-w-full"
			>
				<img
					src="{% static 'images/logo.png' %}"
					alt="Logo"
					class="h-12 top-2"
				/>

				<div class="flex gap-5 justify-center items-center px-5">
					<div class="self-stretch my-auto text-center"><a href="https://www.linkedin.com/in/atharva-tripathi"  target="_blank">LinkedIn</a></div>
					<div class="self-stretch my-auto text-center"><a href="https://github.com/atharvt17"  target="_blank">GitHub</a></div>
					<div
						class="justify-center self-stretch px-6 py-2.5 text-2xl font-medium text-blue-700 bg-white rounded-lg border-2 border-blue-700 border-solid shadow-lg max-md:px-5"
					><a href="/login">
						Login</a>
					</div>
				</div>
			</div>
			<div
				class="mt-36 w-full max-w-[1211px] max-md:mt-10 max-md:max-w-full"
			>
				<div class="flex gap-5 max-md:flex-col max-md:gap-0">
					<div class="flex flex-col w-3/5 max-md:ml-0 max-md:w-full">
						<div
							class="flex flex-col justify-center px-5 font-medium text-black max-md:mt-10 max-md:max-w-full"
						>
							<div
								class="text-6xl leading-[77px] max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
							>
								Ditch the DMs, Fringe it out!
							</div>
							<div
								class="mt-12 text-2xl leading-7 max-md:mt-10 max-md:max-w-full"
							>
								Connect face-to-face, wherever you are, and share the moments that matter with your crew. Stay connected, stay close, with Fringe.
							</div>
							<div
								class="justify-center self-start px-6 py-2.5 mt-12 text-2xl text-white bg-blue-700 rounded-lg shadow-lg max-md:px-5 max-md:mt-10"
							><a href="/signup">
								Get Fringe
							</a></div>
						</div>
					</div>
					<div
						class="flex flex-col ml-5 w-2/5 max-md:ml-0 max-md:w-full"
					>
						<img
							loading="lazy"
							src="https://cdn.builder.io/api/v1/image/assets/TEMP/f7d9c8b462411ba9effb4b76dfc3913f4d1bed21c880d320b5ad90c0ea4e36e2?"
							class="grow mt-4 w-full aspect-[0.98] max-md:mt-10 max-md:max-w-full"
						/>
					</div>
				</div>
			</div>
			<div
				class="flex justify-center items-center self-stretch px-16 py-20 mt-36 w-full text-center text-white max-md:px-5 max-md:mt-10 max-md:max-w-full"
				style="
					background: rgb(237, 27, 255);
					background: linear-gradient(
						160deg,
						rgba(237, 27, 255, 1) 33%,
						rgba(20, 30, 255, 1) 100%
					);
				"
			>
				<div class="flex flex-col my-5 max-w-full w-[840px]">
					<img
						loading="lazy"
						src="https://cdn.builder.io/api/v1/image/assets/TEMP/53be49d9529fe8f0206f92d60dfcfc859cb908452f18f3c9e76f04f5b5370f15?"
						class="self-center max-w-full aspect-[1.01] w-[392px]"
					/>
					<div
						class="mx-5 mt-11 text-6xl font-medium leading-[76.8px] max-md:mt-10 max-md:mr-2.5 max-md:max-w-full max-md:text-4xl"
					>
						Making video call amazing
					</div>
					<div
						class="mt-11 text-2xl leading-7 max-md:mt-10 max-md:max-w-full"
					>
						Meet Fringe, the ultimate hangout hub for friends and teens! Whether it's
						study jams, creative brainstorming, or just goofing around, Fringe keeps 
						the fun flowing. From spontaneous chats to planned shindigs, 
						Fringe is your ticket to endless laughter and unforgettable memories!
					</div>
				</div>
			</div>
			<div
				class="flex flex-col px-5 mt-48 w-full text-center text-black leading-[120%] max-w-[1033px] max-md:mt-10 max-md:max-w-full"
			>
				<div
					class="text-5xl font-medium max-md:max-w-full max-md:text-4xl"
				>
					Features
				</div>
				<div
					class="flex gap-5 justify-between mt-24 w-full max-md:flex-wrap max-md:mt-10 max-md:max-w-full"
				>
					<div class="flex gap-5 justify-center max-md:flex-wrap">
						<img
							loading="lazy"
							src="https://cdn.builder.io/api/v1/image/assets/TEMP/22406da9234eb73a45c09f1c00e972c0ecad2610bfa0a7c3d56a6f1dc7cfaaa4?"
							class="shrink-0 my-auto aspect-square w-[42px]"
						/>
						<div class="flex flex-col">
							<div class="text-2xl">Noise Cancellation</div>
							<div class="mt-4 text-base">
								Smart filtering to remove noise and boosting
								your voice
							</div>
						</div>
					</div>
					<div class="flex gap-5 justify-center max-md:flex-wrap">
						<img
							loading="lazy"
							src="https://cdn.builder.io/api/v1/image/assets/TEMP/080c2da8541c3ddcb3c704cdad75aacff684baa53a3285f00abf1f09d0a0b835?"
							class="shrink-0 my-auto aspect-square w-[42px]"
						/>
						<div class="flex flex-col">
							<div class="text-2xl">Camera Auto Follow</div>
							<div class="mt-4 text-base">
								Smart filtering to remove noise and boosting
								your voice
							</div>
						</div>
					</div>
				</div>
				<div
					class="flex gap-5 justify-between mt-16 w-full max-md:flex-wrap max-md:mt-10 max-md:max-w-full"
				>
					<div class="flex gap-5 justify-center max-md:flex-wrap">
						<img
							loading="lazy"
							src="https://cdn.builder.io/api/v1/image/assets/TEMP/36ffa9614561b9f11d762b883d788306f0c5403ad3a515354a152f5bc2988a1c?"
							class="shrink-0 my-auto aspect-square w-[42px]"
						/>
						<div class="flex flex-col">
							<div class="text-2xl">Voice Rooms</div>
							<div class="mt-4 text-base">
								Smart filtering to remove noise and boosting
								your voice
							</div>
						</div>
					</div>
					<div class="flex gap-5 justify-center max-md:flex-wrap">
						<img
							loading="lazy"
							src="https://cdn.builder.io/api/v1/image/assets/TEMP/be6d9948fe35c45a6d9dfb262fd258b57a313abba341ee28189513fae7f31d54?"
							class="shrink-0 my-auto aspect-square w-[42px]"
						/>
						<div class="flex flex-col">
							<div class="text-2xl">Beautify</div>
							<div class="mt-4 text-base">
								Smart filtering to remove noise and boosting
								your voice
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="flex justify-center items-center self-stretch px-16 py-20 mt-60 w-full font-medium text-white max-md:px-5 max-md:mt-10 max-md:max-w-full"
				style="
					background: rgb(237, 27, 255);
					background: linear-gradient(
						160deg,
						rgba(237, 27, 255, 1) 33%,
						rgba(20, 30, 255, 1) 100%
					);
				"
			>
				<div
					class="flex flex-col mt-16 mb-10 max-w-full w-[640px] max-md:mt-10"
				>
					<div
						class="text-6xl text-center leading-[77px] max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
					>
						Spontaneous hangs and study sessions,
						wherever you go!
					</div>
					<div
						class="mt-12 text-2xl leading-7 text-center max-md:mt-10 max-md:max-w-full"
					>
						Elevate your connection with Fringe, 
						where fun meets productivity for friends and teens alike.
					</div>
					<div
						class="justify-center self-center px-6 py-2.5 mt-12 text-2xl text-blue-700 bg-white rounded-lg border-2 border-blue-700 border-solid shadow-lg max-md:px-5 max-md:mt-10"
					><a href="signup">Get Fringe</a>
					</div>
				</div>
			</div>
		</div>

		<script src="" async defer></script>
	</body>
</html>
